{% extends 'base.html' %}

{% block content %}

<br /><br /><br /><br />
<center>
  <h2>U12 Search</h2>
  <small>Search for U12-dependent introns using simple queries</small>
  <br /><br />
  <div class="panel panel-default">
    <div class="panel-body">
	    <form method="GET" action="{% url 'results:U12_list' %}">
        <input type="text" name="query" size=88
	placeholder="  E.g. a single Ensembl Gene/Transcript ID, genome assembly, organism and/or gene name.">
        <input type="submit" value="Search">
        <br />
      </form>
      <small>
        Use <a href="/sitepages/main_search/">Main Search</a> for more search and output options.
      </small>
      <br /><br />
      <h4>Example Searches:</h4>
      <form method="GET" action="{% url 'results:U12_list' %}">
        <input type="hidden" name="query" value="ATAC Arabidopsis">
        <input type="submit" 
	value="All ATAC U12-dependent introns in Arabidopsis thaliana">
      </form>
      <form method="GET" action="{% url 'results:U12_list' %}">
        <input type="hidden" name="query" value="DERL2">
        <input type="submit" value="All U12-dependent introns in genes named DERL2">
      </form>
    </div>
  </div>
</center>
{% endblock %}
